input,
textarea,
select {
    padding: 2vh 1vw;
    border: $text-color 3px solid;
    outline: 0;
    font: $base-font-family, sans-serif;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
}

label {
    width: 100%;
    margin-top: 2vh;
    display: inline-block;
    color: $text-color;
}

button,
input[type="submit"] {
    width: auto;
    padding: 1vh 2vw;
    background: $text-color;
    border: 0;
    font-size: calc(10px + 1vh);
    color: $background-color;
}

form {
    width: 60%;
    grid-template-columns: 30% auto;
    margin: 0 auto;
}


/* Site Header */

.site-header {
    min-height: $spacing-unit * 1.865;
    max-height: 70vh;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 12vh;
    margin-bottom: 3vh;
}

.site-title {
    @include relative-font-size(10);
    line-height: $base-line-height * $base-font-size * 5;
    letter-spacing: 2px;
    font-family: $head-font-family;
}

.site-nav {
    @include relative-font-size(2);
    background-color: black;
    display: block;
    padding: 3vw;
    line-height: $base-line-height * $base-font-size * 1;
    @include media-query($on-laptop) {
        @include relative-font-size(4);
    }
}

.date {
    display: inline-block;
    background: $text-color;
    color: rgb(255, 242, 242);
    padding: 1vh 1vw;
    font-family: $head-font-family;
}

.limelight {
    border: solid 5px $text-color;
    box-shadow: 15px 15px 0 0px $shadow-color;
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    mix-blend-mode: multiply;
    padding: 5vh 2.5vw;
    background: $background-color;
    @include media-query($on-laptop) {
        flex-direction: column;
    }
    .winner-info {
        flex: 1 1 60%;
        .owner {
            display: inline-block;
            text-align: right;
            font-style: italic;
        }
        .name {
            line-height: 10vh;
            font-family: $head-font-family;
            display: block;
            @include relative-font-size(4);
        }
    }
    figure {
        align-self: center;
        flex: 1 1 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        a {
            flex: 1 1 90%;
            margin: 0 auto;
            img {
                transition: .2s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

nav {
    display: flex;
    position: fixed;
    font-family: $head-font-family;
    flex-wrap: wrap;
    flex-direction: row;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    z-index: 100;
    @include relative-font-size(2);
    a {
        text-align: center;
        display: block;
        background: $text-color;
        color: rgb(255, 242, 242);
        height: 10vh;
        flex: 1 1 25%;
        overflow: hidden;
        transition: 0.2s;
        line-height: 10vh;
        span {
            @include relative-font-size(1.6);
            @include media-query($on-laptop) {
                @include relative-font-size(2.6);
            }
        }
        &:hover {
            text-decoration: none;
            line-height: 2.9vh;
            background: lighten($brand-color, 50%);
            font-size: 0;
            color: white;
        }
    }
    @include media-query($on-laptop) {
        @include relative-font-size(4);
    }
}

.theme {
    display: block;
    padding: 2vh 1vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-weight: 800;
    margin: 0 auto;
    width: 80%;
    height: 15vh;
    color: rgba(0, 0, 0, 0.5);
    background-size: 200% 200%;
    background: $monthly-gradient;
    @include relative-font-size(3);
    transition: .3s;
    @include media-query($on-laptop) {
        @include relative-font-size(7);
        width: 100%;
    }
}

.theme:hover {
    color: rgb(0, 0, 0);
    border-radius: 50px;
}

.pitch {
    @include media-query($on-laptop) {
        @include relative-font-size(2);
        width: 100%;
    }
    display: block;
    padding: 2vh 1vw;
    margin: 0 auto;
    width: 80%;
    border-left: lighten($brand-color, 70%) 5px dotted;
    border-right: lighten($brand-color, 70%) 5px dotted;
}

.npc {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background: black;
    float: left;
    border-radius: 50px;
    margin-bottom: 10vh;
    img {
        height: 90vh;
        margin: 0 auto;
    }
}

.site-nav a {
    display: block;
    float: left;
    padding: 2vh 2vw;
}


/* Page Content */

.page-content {
    padding: $spacing-unit 0;
    flex: 1;
}

.page-heading {
    margin-top: $spacing-unit*3;
    font-family: $head-font-family;
    @include relative-font-size(3);
}

.post-list-heading {
    @include relative-font-size(3);
}

.post-list {
    @include media-query($on-laptop) {
        @include relative-font-size(2);
        width: 100%;
    }
    &.offerings {
        border-left: lighten($brand-color, 70%) 5px solid;
        border-right: lighten($brand-color, 70%) 5px solid;
    }
    &.legends {
        border-left: $shadow-color 5px solid;
        border-right: $shadow-color 5px solid;
        >li:hover {
            background-color: lighten($shadow-color, 16%);
            span,
            a,
            figure {
                background-color: transparent;
            }
        }
        >li:nth-child(2n+2):hover {
            background-color: lighten($shadow-color, 10%);
        }
    }
    @include relative-font-size(2);
    list-style: none;
    font-family: $base-font-family;
    padding: 2vh 1vw;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10vh;
    >li:first-child {
        font-weight: 800;
        @include relative-font-size(2);
    }
    >li:nth-child(2n+2):hover {
        background-color: lighten($alt-color, 75%);
    }
    >li {
        @include media-query($on-laptop) {
            @include relative-font-size(1.7);
        }
        @include relative-font-size(1.5);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1vh 0.5vw;
        font-family: $data-font-family;
        height: 13vh;
        text-align: center;
        align-items: center;
        transition: .2s;
        overflow: hidden;
        figure {
            height: 10vh;
            width: 100%;
            overflow: hidden;
            img {
                mix-blend-mode: multiply;
                margin-top: -40%;
                transition: .2s;
                &:hover {
                    transform: rotate(20deg);
                }
            }
        }
        span,
        a,
        figure {
            flex: 1 1 20%;
            background-color: $background-color;
            mix-blend-mode: multiply;
        }
        ~p {
            display: none;
            @include relative-font-size(1);
            @include media-query($on-laptop) {
                @include relative-font-size(2);
            }
        }
    }
    >li:hover {
        background-color: lighten($brand-color, 75%);
        span,
        a,
        figure {
            background-color: transparent;
        }
    }
    >li:focus {
        @include media-query($on-laptop) {
            height: 15vh;
        }
        height: 30vh;
        figure {
            height: 100%;
            img {
                margin-top: 0;
            }
        }
        ~p {
            display: block;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    mix-blend-mode: difference;
    line-height: 1;
    @include media-query($on-laptop) {
        @include relative-font-size(2);
    }
}

.post-link {
    display: block;
    @include relative-font-size(3);
}


/* Posts */

.post-cover {
    max-width: 50%;
    width: 50vw;
    float: left;
    margin: $spacing-unit;
    object-fit: contain;
    @include media-query($on-laptop) {
        visibility: hidden;
        width: 0px;
        transition: .3s;
    }
}

.post-header {
    margin-top: $spacing-unit;
}

.post-title {
    @include relative-font-size(5);
    letter-spacing: -1px;
    line-height: 1;
    font-family: $head-font-family;
    @include media-query($on-laptop) {
        @include relative-font-size(7);
    }
}

.post-content {
    z-index: -5;
    padding: $spacing-unit*3;
    margin: $spacing-unit*3 $spacing-unit $spacing-unit $spacing-unit;
    h2 {
        @include relative-font-size(2);
        @include media-query($on-laptop) {
            @include relative-font-size(5);
        }
    }
    h3 {
        @include relative-font-size(1.625);
        @include media-query($on-laptop) {
            @include relative-font-size(4);
        }
    }
    h4 {
        @include relative-font-size(1.25);
        @include media-query($on-laptop) {
            @include relative-font-size(3.5);
        }
    }
    @include media-query($on-laptop) {
        @include relative-font-size(3);
        background: black;
        color: white;
    }
}


/* Event Log */

.alert {
    transition: .1s;
    padding: 2px;
    text-align: center;
    background: black;
    color: $brand-color;
    box-shadow: 1px 1px 1px 1px #523d66;
    @include media-query($on-laptop) {
        @include relative-font-size(4);
    }
}

.alert:hover {
    color: rgb(249, 77, 255);
    letter-spacing: 2px;
    padding: 5px;
    cursor: pointer;
}


/* Footer */

.site-footer {
    @include relative-font-size(1);
    color: white;
    margin-top: $spacing-unit * 4;
    background-color: black;
    padding: $spacing-unit *4;
    @include media-query($on-laptop) {
        @include relative-font-size(.3);
    }
}


/* About Page */

.about {
    padding: $spacing-unit;
    margin-top: $spacing-unit;
    @include relative-font-size(1.5);
    background: black;
    @include media-query($on-laptop) {
        @include relative-font-size(3);
    }
}

.about p {
    margin-bottom: $spacing-unit
}


/* Animation */


/* Misc. */

.hidden {
    transform: translate(0, -200vh);
    opacity: 0;
}

.reopened {
    transform: translate(0, 0);
    opacity: 1;
}