--- 
layout: default 
---

<div class="site-header">
    <h1 class="site-title">{{ site.title }}</h1>
    <h1>Can Phone</h1>
</div>{{ content }} 
<form action="https://getform.io/f/046f47c2-60d2-45a6-a5fe-ea72c1189910" method="POST">
    <label for="name"><h2>Pet Name</h2> How is your pet called? (Names can deviate from the displayed name.)</label>
    <input type="text" name="name">
    <label for="owner"><h2>Owner</h2> What's your Subeta name? Hit me up if you ever change your username.</label>
    <input type="text" name="owner">
    <label for="image"><h2>Image Link</h2> An image link to your pet <em>on Subeta</em>. </label>
    <input type="text" name="image">
    <label for="link"><h2>Pet Link</h2> A link to your pet's page.</label>
    <input type="text" name="link">
    <label for="concept"><h2>Description</h2> A paragraph about your pet. What was your inspiration? What is it about? If you don't know what to write, you can paste an excerpt from your description.</label>
    <textarea name="concept"></textarea>
    <label for="cw"><h2>Content Warning</h2> Tag sensitive content with respective content warnings.</label>
    <input type="text" name="cw">
    <label for="category"><h2>Category</h2> To which category will your submission go?</label>
    <select name="category">
        <option value="limelight">Into the Limelight</option>
        <option value="monthly">Monthly Offering</option>
    </select>
    <button type="submit">Send</button>
</form>
<br>
<div class="faq">
        <p>
            <h2>What is this place?</h2>
            Here you can fill out any information related to your own submission! Just send out the form and I will contact you as soon as I can! All submissions will be reviewed as soon as possible and I will do my best to showcase everyone in a fair amount of time.
        </p>
        <p>
            <h2>I do not trust the site.</h2>
            Absolutely no problem. Just send me all of the above information over Subeta as an <a href="https://old.subeta.net/mail.php?act=new&to=Lyonid">sMail</a>!
        </p>
</div>
