--- 
layout: default 
---

<div class="site-header">
    <h1 class="site-title">{{ site.title }}</h1>
    <h1>An audience with the Rat King</h1>
</div>
<div class="npc">
    <img src="{{ site.baseurl }}/assets/images/ratking.png">
    <span><p>
        On your usual walk through the streets of Centropolis, a strange urge of adventure overcomes you. You pass an alleyway that you rarely ever thought about - it's messy, insignificant, eerie even. Even though you don't mind, you enter the narrow path that
        would lead you into a street quite unusual to what you are used to. Small creatures are roaming the street. You feel as if someone was watching, yet it doesn't feel off. Suddenly, a screech. </p>
    <p>
        "Come fourth, fellow vermin! Bring me those offerings, show me what you love!"</p>
    <p>
        <p>
            An odd rat-like creature looks at you. Street lamps start flickering in a mystical green light. The three heads turn to you and watch closely until one of its paws is stretched out towards you. </p>
        <p>
            "Have you brought someone for the limelight?"</p>
        <p></span>
</div>
<div class="faq">
            <h2>What is the limelight?</h2>
            The limelight is a showcase of the many, beauitiful creatures roaming the world of Subeta and beyond. It is an alternative to the <a href="https://old.subeta.net/spotlight.php">Offical Subeta Spotlight</a> and features pets that might not
            be up to the reviewers' standards, far off the conventional pet aesthetic, made as a sole artistic expression or simply a former winner that just deserves a little more love! Every <b>Tuesday</b>, <b>Thursday</b> and <b>Saturday</b> A new
            pet is presented alongside some extra information about it, to ensure that your whole message comes across to the community!
        </p>
        <p>
            <h2>Why does this place exist?</h2>
            I want to give artists a possibility to present their creative pet ideas without depending on only the official spotlight. I want everyone's pets to feel special and worth more than just a quick news post and see it as an oportunity to gather a collection
            of pets for other users to explore for inspiration. This place should be a safe space for any creative outlet that does not fit the general quality measures. If you have a pet that is weird and creative, please share it! Don't let your pets
            drown in the endless sea submissions. We also want to be as transparent as possible, to make the reviewing process as simple as possible, so everyone can get into the winner pool without waiting multiple months.
        </p>
        <p>
            <h2>How should my pet look like? How is it evaluated?</h2>
            In order to give everyone the opportunity to show their talents and love to their little babies, the reviewing process is very open and easily passable. No pet information is mandatory. If your pet does not need many words - so be it! If your treasure
            is a sole item - that is absolutely fine. What counts is your reasoning behind it, so that your creative vision is understandable! The following rules will sum up the whole quality assessment:
            <ol>
                <li>
                    <h3>Describe your vision:</h3> Every submission should have a paragraph on your idea. What was your theme or motivation? What are you proud of? Does it tie into any other pet/story that you are working on? Is there anything your would
                    like to tell the users? If you do not come up with any meaningful summary, feel free to just paste the first paragraph of your writing from the pet page itself.</li>
                <li>
                    <h3>Show us your final result:</h3> While info like the pet's gender, name, treasure chest, overlay etc. is not obligatory, it should be a final version of it. A Lorem Ipsum could be a creative concept, but most-likely it is not. We want
                    to see your realized idea!</li>
                <li>
                    <h3>Credit everything:</h3> This should go without saying, but please mention every user that contributed to your pet. Do note that we are not looking for perfect pets. You don't need to have the most impressive overlays or website designs
                    to be limelighted!</li>
                <li>
                    <h3>Add potential content warnings:</h3> The limelight will allow pets that deal with difficult topics that might be triggering for users. On that note, please make sure to add a content warning with your submission, so we can ensure that
                    everyone has a good time!</li>
                <li>
                    <h3>The usual:</h3> We do not accept any problematic content that goes against the Terms of Service of Subeta. No racism, no hate speech, no homophobia, no transphobia, no attack against other users. Potential violations will be reported
                    to the Subeta team.</li>
            </ol>
        </p>
        <p>
            <h2>How long does the reviewing take?</h2>
            Since I currently am by myself with this, reviewing might take me some time. As soon as a pet is submitted, I will accept it within the next few days. After notifying you, your pet will be in the pool of other pets. I will select the winner randomly from
            a selection of the first submissions, so you don't have to wait for ages.
        </p>
        <p>
            <h2>I am not sure whether my pet will be accepted!</h2>
            Don't. You. Worry. I started this project to make working on a pet more enjoyable and creative. If you're not much of an artist, your pet will most-likely be accepted if your idea is clear and cohesive! If you are unsure, feel free to send
            <a href="https://old.subeta.net/users/Lyonid">Me</a> a message, so I can tell you that you absolutely should go for it!
        </p>
        <p>
            <h2>What will I get for sending in my pet?</h2>
            Aside from a little trophy that you can showcase on you pet page, winners will receive a small care package for their pet after some time! It will probably arrive at the end of each week your pet was placed in the limelight! Aside from that, your baby
            will be placed as a legend on the site forever! I will make sure that it won't drown among the other submissions, so people can see your creation in the future!
        </p>
        <p>
            <h2>How can I support you?</h2>
            This little project has been very precious to me, so I apreciate any kind of support! Drop me a nice message, send me a gift for some care packages for future winners, <a href="https://ko-fi.com/arduqq">buy me a coffee</a> or simply interact with the forum post. All love is deeply apreciated!
        </p>
        <p>
            <h2>I dislike something about this place and noticed something that shouldn't be like that.</h2>
            Drop <a href="https://old.subeta.net/users/Lyonid">Me</a> a message! I am absolutely willing to take any feedback as long as it is not malicious. This place is not to mock or to be elitist, but out of pure love for your creations. I will do
            my best to fix any problems as soon as I find the time!
        </p>
</div>
{{ content }}