--- 
layout: default 
--- 

<div class="site-header">
<h1 class="site-title">{{ site.title }}</h1>
<h1 >An audience with the Rat King</h1> 
</div>
<figure class="npc">
    <img src="{{ site.baseurl }}/assets/images/ratterdam.gif">
</figure>
<div class="faq">
    <p>
        "Come fourth, fellow vermin! Bring me those offerings, show me what you love!"</p>
    <p>
        <h2>What is the limelight?</h2>
        "Find yourself admiring our current legend. A legend that is said to be complete. When new pets arrive at the Alleyway, we will exhibit their owner's fine work in the limelight. Feel free to send them love!"
    </p>
</div>
{{ content }} 
