--- 
    layout: default 
---

<div class="site-header">
    <h1 class="site-title">{{ site.title }}</h1>
    <h1>Monthly Offerings</h1>
</div>{{ content }} {%- if site.posts.size > 0 -%}
<h1 class="site-header theme">Creature</h1>
<p class="pitch">
    We do love a good creature feature and with spooky season coming up, let's showcase our favourite creatures. Show us your eerie little OC. Your feral beast, your shy mystical spirit. Vengeful ghosts, tragic cryptids and other wonderful beings!
</p>

<ul class="post-list offerings">
    <li><span>pet</span> <span>name</span> <span>owner</span> <span>link</span> <span>love</span></li>
    {%- for post in site.categories.creature -%}
    <li tabindex="{{ forloop.index }}">
        <figure><img src="{{ post.image }}"></figure>
        <span>{{ post.name }}</span>
        <a target="__blank" href="https://subeta.net/users/{{ post.owner }}">{{ post.owner }}</a>
        <a target="__blank" href="{{ post.link }}">visit </a>
        <a target="__blank" href="https://subeta.net/explore/gifts.php/choose/random?user={{ post.owner }}">send love</a>
    </li>
    <p>{{post.excerpt }}</p>
    {%- endfor -%}
</ul>

<div class="faq">
    <p>
        <h2>Where am I?</h2>
        "Aah, a fellow tax payer, come come, I will show you around! My name is <em>Ratterdam, the Vengeful</em>! I might not look it, but my offerings are some of the *chef's kiss* most splendid ones! Would you like to take a look at our latest fruits
        of labour?"
    </p>
    <p>
        <h2>What's an <em>offering</em>?</h2>
        "That's how we call our precious little pets that we care for so lovingly. The Rat King will announce a <em>theme for every month</em> in which we venture the world of <a href="https://subeta.net/news.php">Subeta</a>, caring for those creatures
        that fit their fantasy the best. Do not worry! We won't harm your precious friend. The Rat King is not barbaric after all. They are curious of what those creative minds will come up with. We celebrate every pet the best we can, no worries, we
        do it for love!"
    </p>
    <p>
        <h2>How do I participate?</h2>
        "Well, nothing easier than that! If you manage to care for a pet that would fit the monthly theme, send us a message through the <em>Can Phone</em>! We will take a quick look and put it riiiiight here!"
    </p>
    <p>
        <h2>Why should I participate?</h2>
        "Oh how I fear such questions. Just take a look around. This alleyway is quite the unremarkable place, wouldn't you say so? The Rat King thrives on creativity - their people are fueled by their care for their pets. We don't want your little treasure to
        get lost in this chaos - we want to acknowledge your efforts and maybe even give something back! Not only will we award you with a <i>shiny little trinket</i> to decorate your pet with, but we will arrange a small form of compensation
        for your service. It is nothing big, but we hope that you see our humble gesture as nothing but admiration."
    </p>
    <p>
        <h2>What about the <em>Subeta Pet Spotlight</em>? Also, I have this pet that would actually fit this theme very well!</h2>
        "Oh joy, oh joy! Come fourth with it! Let me take a closer look ... Ha ha! Of course, please show it to our king, I beg you! We accept even the most ancient of offerings. Do not hesitate. This place is not like the Official Pet Spotlight. It's different!
        It's new!"
    </p>
    <p>
        <h2>I do not write, I do not code, I do not draw like the others!</h2>
        "Hush, child, stop talking! This place does not judge and what counts is your effort. We don't need those perfect little creatures. Living on the streets is brutal, it's raw. We will accept your offering even if you don't write a text, if you don't code
        a bit, and if you don't draw a thing. With every offering comes a paragraph of insight that gives us some ideas on your intentions, your ideas and your overall concept. What counts is your creativity. We will not judge your colors, heck, you can
        go absolutely chestnuts! Away with those standards - let's break some rules!"
    </p>
</div>



{%- endif -%}